*{
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: center / cover no-repeat url("../images/background.jpg");
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

::placeholder {
  font-size: 12px;
}

.card {
  position: relative;
  background: center / cover no-repeat url("../images/main.jpg");
  border: 3px solid #ffce45;
  border-radius: 16px;
  padding: 32px 24px;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 16px;
}
.card .content {
  position: relative;
}
.card-img {
  width: 150px;
}
.card-title {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 24px;
}
.card-text {
  font-size: 36px;
}
.card-comment {
  font-size: 24px;
}
.card-input {
  padding: 10px 20px;
  border-radius: 8px;
  margin-right: 8px;
  border: none;
}
.card-btn {
  background-color: #ffce45;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.card-btn:hover {
  opacity: .8;
}